// По имени модификатора должно быть понятно, что он изменяет, а не в каком блоке или на какой странице используется компонент
// Внешняя геометрия компонента (margin, width, height) задаётся через родительский блок как .parent__text или .parent .text

.text {
  p {
    margin: 0;
    padding: 0;
  }

  p + p {
    margin-top: 8px;
  }

  &--size-m {
    font-size: 18px;
    line-height: 1.6;

    p + p {
      margin-top: 15px;
    }
  }

  &--bold {
    font-weight: 700;
  }
}
