// По имени модификатора должно быть понятно, что он изменяет,
// а не в каком блоке или на какой странице используется заголовок.
// У компонента не должно быть margin, внешние отступы задаются по бэм
// (по классу от родителя .parent__title)

.title {
  margin: 0;
  padding: 0;

  &--size-s {
    font-size: 20px;
  }

  &--size-m {
    font-size: 25px;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
