// По имени модификатора должно быть понятно, что он изменяет, а не в каком блоке или на какой странице используется заголовок
// Внешняя геометрия компонента (margin, width, height) задаётся через родительский блок как .parent__title или .parent .title
// Цвет должен просто наследоваться, кроме случаев, когда требуется его явное задание

.title {
  margin: 0;
  padding: 0;

  &--size-s {
    font-size: 20px;
  }

  &--size-m {
    font-size: 25px;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
